code/nailstar/.idea/*
code/nailstar/.idea/compiler.xml
code/nailstar/.idea/encodings.xml
code/nailstar/.idea/modules.xml
code/nailstar/.idea/runConfigurations.xml
code/nailstar/.idea/vcs.xml
code/nailstar/app/app.iml
code/nailstar/nailstar.xml
doc/01 需求列表/~$需求列表 V1.0.xlsx
code/nailstar/.idea/copyright/profiles_settings.xml
code/nailstar/app/src/main/res/mipmap-xxhdpi/demo.jpg
code/nailstar/nailstar.iml
code/nailstar/.idea/gradle.xml
code/nailstar/widget/widget.iml
